@import "../scss/main.scss";
.header {
  padding: 0.5rem;
  display: flex;
  z-index: 10;
  width: 100%;
  margin: auto;
  background: transparent;
}
.header-left {
  justify-content: left;
}
.header-right {
  justify-content: right;
}
.header__logo {
  img {
    width: 100%;
  }
}
.header__element {
  display: flex;
  padding-left: unset;
  @include center-text;
  justify-content: space-around;
  width: 100%;
  margin-bottom: unset;
  h6 {
    font-weight: 700;
    color: #f0f0f0;
  }
  .dropdown {
    .dropbtn {
      @include center-text;
      position: relative;
      color: #f0f0f0;
      font-weight: 700;
      &::after {
        content: "";
        position: absolute;
        width: 5rem;
        height: 2rem;
        top: 1rem;
        background: transparent;
      }
      &:hover {
        color: #fff;
      }
    }
    .dropdown-hidden {
      content: "";
      width: 2rem;
      height: 1rem;
      background: #f8f8f8;
      position: absolute;
      top: 1.1rem;
      left: 1rem;
      display: none;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    .dropdown-content {
      z-index: 2;
      top: 2rem;
      background: #f8f8f8;
      padding: 1rem;
      display: none;
      position: absolute;
      z-index: 1;
      width: max-content;
      ul {
        width: 200px;
        li {
          border-top: 1px solid gray;
          padding: 0.6rem 0rem;
          a {
            font-size: 1rem;
            font-weight: 500;
            color: gray;
            &:hover {
              color: black;
            }
          }
        }
      }
      .dropdown-img {
        img {
          width: 100%;
        }
      }
    }
    .header-search {
      input {
        width: 15rem;
        height: 3rem;
      }
    }
    &:hover .dropdown-content {
      display: block;
    }
    &:hover .dropdown-hidden {
      display: block;
    }
  }
}

.cl-element {
  color: #f8f8f8;
  font-weight: 700;
  &:hover {
    color: #fff;
  }
}
.header__user {
  @include center-text;
  margin: 0px 1rem;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
}
.header__cart {
  @include center-text;
  margin: 0px 1rem;
  &:hover {
    cursor: pointer;
  }
}
.modal-header {
  padding: unset;
  border: unset;
  .modal {
    @include modal;
    margin-top: 100px;
    display: none;
    z-index: 10;
  }
  .modal-content {
    @include modal-content;
    width: 60%;
    padding: 1rem;
    .close {
      @include btn-close;
      display: block;
    }
    .modal-content__login {
      border-right: 1px solid gray;
      h5 {
        text-align: center;
        font-weight: 800;
        color: rgba(36, 31, 31, 0.593);
      }
      .form-header {
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;
        width: 90%;
        input {
          height: 3rem;
        }
      }
      .form-check {
        margin: 1rem 0rem;
      }
      .button-header {
        margin: 1rem 0rem;
        @include style-button;
        @include center-text;
        color: #fff;
        font-weight: 600;
        background: rgb(57, 57, 225);
        width: 40%;
      }
    }
    .modal-content__register {
      h5 {
        text-align: center;
        font-weight: 800;
        color: rgba(36, 31, 31, 0.593);
      }
      .form-header {
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;
        width: 90%;
        input {
          height: 3rem;
        }
      }
      .form-check {
        margin: 1rem 0rem;
      }
      p {
        color: gray;
      }
      .button-header {
        margin: 1rem 0rem;
        @include style-button;
        @include center-text;
        color: #fff;
        font-weight: 600;
        background: rgb(57, 57, 225);
        width: 40%;
      }
    }
  }
}
.unset-border {
  border-top: none !important;
}
.header-right {
  .dropdown {
    .dropbtn {
      @include center-text;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 5rem;
        height: 2rem;
        top: 1rem;
        background: transparent;
      }
      .header__cart-cricle {
        position: absolute;
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        border: 3px solid #fff;
        clip-path: circle(50% at 50% 50%);
        left: 81%;
        top: -20%;
        transform: translateY(0rem);
      }
      .header__cart-img {
        z-index: 2;
        margin-left: 5px;
        width: 2rem;
        height: 2.1rem;
        background: black;
        border: 2px solid #fff;
        p {
          padding-top: 5px;
          @include center-text;
          color: #fff;
        }
      }
    }
    .dropdown-hidden {
      content: "";
      width: 2rem;
      height: 1rem;
      background: #f8f8f8;
      position: absolute;
      top: 62%;
      left: 28%;
      display: none;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    .dropdown-content {
      z-index: 2;
      top: 2rem;
      background: #f8f8f8;
      padding: 1rem 2rem;
      display: none;
      position: absolute;
      z-index: 1;
      width: max-content;
      right: 20%;
      top: 88%;
      p {
        color: gray;
      }
    }
    &:hover .dropdown-content {
      display: block;
    }
    &:hover .dropdown-hidden {
      display: block;
    }
    &:hover .header__cart-cricle {
      transform: translateY(-0.2rem);
    }
    &:hover .header__cart-img {
      background: #fff;
      p {
        color: black;
      }
    }
  }
}
// CSS STICKY NAVBAR
.Top_bar {
  background: transparent;
  position: absolute;
}
.Top_bar-fixed {
  background: rgba(33, 31, 31, 0.789);
  position: fixed;
  padding: 0.5rem;
  top: 0;
  z-index: 9999;
  width: 100%;
}
