html {
  font-size: 16px;
}
html a {
  color: black;
  text-decoration: none;
}
html ul {
  padding-left: unset;
}
html li {
  list-style: none;
}
html p,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin-bottom: unset;
}

.css-flex {
  display: flex;
}

.btn-0 {
  position: absolute;
  margin: 5px 0px;
  width: 20%;
  height: 3px;
  background: gray;
  left: 50%;
}

body {
  background: #1b1b1b !important;
}

.SliderOne__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-2.jpg);
  background-size: cover;
}
.SliderOne__Slider .container {
  margin: auto;
  padding: 170px 0px;
  text-align: center;
}

.SliderTwo__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/surfing-3.jpg);
  background-size: cover;
}
.SliderTwo__Slider .container {
  margin: auto;
  padding: 170px 0px;
}

.SliderThree__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-4.jpg);
  background-size: cover;
}
.SliderThree__Slider .container {
  margin: auto;
  padding: 170px 0px;
}

.Slider__Content {
  color: #fff;
  text-align: center;
}
.Slider__Content span {
  font-weight: 400;
  font-size: 5rem;
  text-overflow: 2px;
}
.Slider__Content p {
  font-size: 1.5rem;
}

.Slider__Button {
  border: 2px solid #fff;
  padding: 0px 20px;
  margin: 0px 10px;
}
.Slider__Button p {
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.Slider__Button:hover {
  background: #fff;
}
.Slider__Button:hover p {
  color: gray;
}

.btn-shop {
  justify-content: center;
  padding-top: 2rem;
}

.body__shipping .container {
  margin: auto;
  padding: 30px 0px;
}

.shipping__item--img {
  color: gray;
  border: 1px solid gray;
  border-radius: 50%;
}
.shipping__item--img i {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.shipping__item--text {
  margin-left: 0.5rem;
}
.shipping__item--text span {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.shipping__item:hover .shipping__item--img {
  background: #787878;
}
.shipping__item:hover .shipping__item--img i {
  color: #fff;
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: 5%;
  border: none;
  z-index: 10;
  color: #fff;
  transform: translateY(-50%);
  background: transparent;
  opacity: 0;
  left: 0;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 5%;
  border: none;
  z-index: 10;
  color: #fff;
  transform: translateY(-50%);
  background: transparent;
  opacity: 0;
  right: 0;
}

.body__featured .container {
  position: relative;
  margin: auto;
}
.body__featured .container h4 {
  z-index: 2;
  background: #1b1b1b;
  position: absolute;
  color: #fff;
  left: 44%;
  top: -17px;
  padding: 0px 20px;
  font-weight: 600;
}

.slider__featured {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
}
.slider__featured .product-item {
  position: relative;
  padding: 1rem;
}
.slider__featured .product-item__content {
  position: relative;
}
.slider__featured .product-item__content .item__img {
  position: absolute;
  opacity: 1;
  top: 0;
}
.slider__featured .product-item__content .item__img img {
  width: 100%;
}
.slider__featured .product-item__content .item__img--hidden {
  opacity: 0;
}
.slider__featured .product-item__content .item__img--hidden img {
  width: 100%;
}
.slider__featured .product-item:hover .product-item__content .item__img {
  opacity: 0;
  transition: all 0.5s ease-in;
}
.slider__featured .product-item:hover .product-item__content .item__img--hidden {
  opacity: 1;
  overflow: hidden;
}
.slider__featured .product-item__modal .modal-click {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 18%;
  width: 93%;
  height: 2.1rem;
  background: #1e90ff;
  color: #fff;
  font-weight: 600;
  opacity: 0;
}
.slider__featured .product-item:hover .product-item__modal .modal-click {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.slider__featured .product-item__wishlist {
  opacity: 0;
  position: absolute;
  top: 4%;
  right: 5%;
  border-radius: 50%;
  border: 2px solid #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
}
.slider__featured .product-item__wishlist i {
  padding: 0.4rem;
  font-size: 1rem;
  color: #fff;
}
.slider__featured .product-item__wishlist:hover {
  border: unset;
  background: red;
}
.slider__featured .product-item:hover .product-item__wishlist {
  opacity: 1;
}
.slider__featured .product-item__text p {
  font-size: 1rem;
}
.slider__featured .product-item__text {
  color: #fff;
}
.slider__featured .product-item button {
  margin-left: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
  padding: 10px 20px;
}
.slider__featured:hover .slick-prev {
  opacity: 1;
  transform: translateX(-1.5rem);
  transition: all 0.5s ease-in-out;
}
.slider__featured:hover .slick-next {
  opacity: 1;
  transform: translateX(1.5rem);
  transition: all 0.5s ease-in-out;
}

.body__browse .container {
  position: relative;
  margin: auto;
}
.body__browse .container h4 {
  z-index: 2;
  background: #1b1b1b;
  position: absolute;
  color: #fff;
  left: 44%;
  top: -17px;
  padding: 0px 20px;
  font-weight: 600;
}

.slider-browse {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
}
.slider-browse .browse__content {
  padding: 0rem 1rem;
  position: relative;
}
.slider-browse .browse__content .browse__img img {
  width: 100%;
  border-radius: 0.5rem;
}
.slider-browse .browse__content .browse__text {
  position: absolute;
  top: 40%;
  left: 32%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.slider-browse .browse__content .browse__text h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.slider-browse .browse__content .browse__text p {
  opacity: 0;
  color: #fff;
}
.slider-browse .browse__content:hover h5 {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}
.slider-browse .browse__content:hover p {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.slider-browse:hover .slick-next {
  opacity: 1;
}
.slider-browse:hover .slick-prev {
  opacity: 1;
}
.slider-browse button {
  margin-left: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
  padding: 10px 20px;
}

.body__latest .container {
  position: relative;
  margin: auto;
}
.body__latest .container h4 {
  z-index: 2;
  background: #1b1b1b;
  position: absolute;
  color: #fff;
  left: 44%;
  top: -17px;
  padding: 0px 20px;
  font-weight: 600;
}
.body__latest button {
  margin-left: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
  padding: 10px 20px;
}

.slider-latest {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
}
.slider-latest .latest__content {
  position: relative;
  padding: 1rem;
}
.slider-latest .latest__content .latest__img {
  filter: brightness(80%);
}
.slider-latest .latest__content .latest__img img {
  width: 100%;
  height: 300px;
}
.slider-latest .latest__content .latest__text {
  top: 30%;
  left: 20%;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.slider-latest .latest__content .latest__text h5 {
  color: #fff;
}
.slider-latest .latest__content .latest__text p {
  display: none;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.slider-latest .latest__content .later__sticky {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  background: rgb(62, 62, 238);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.slider-latest .latest__content .later__sticky b {
  padding: 0px 10px;
  color: #fff;
  font-weight: 600;
}
.slider-latest:hover .slick-next {
  opacity: 1;
}
.slider-latest:hover .slick-prev {
  opacity: 1;
}

.body__signup .signup-content {
  filter: brightness(25%);
  background-image: url(../images/img_body/yoga-4-1000x464.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16rem 0rem;
}
.body__signup .signup-content .container {
  width: 50%;
  margin: auto;
  text-align: center;
}
.body__signup .signup-content .container .caption h2 {
  margin: 2rem 0rem;
  color: #fff;
  font-weight: 900;
}
.body__signup .signup-content .container .caption p {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
}
.body__signup .signup-content .container .form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__signup .signup-content .container .form input {
  width: 60%;
  border: unset;
  height: 2.5rem;
  border-radius: 2rem;
}
.body__signup .signup-content .container .form input ::-moz-placeholder {
  color: red;
}
.body__signup .signup-content .container .form .btn-email {
  margin-left: 1rem;
  width: 140px;
  height: 45px;
  background: rgb(12, 169, 231);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderTwo button {
  margin-left: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
  padding: 10px 20px;
  background: transparent;
  opacity: 0;
  border: 2px solid #fff;
  height: 14%;
}
.sliderTwo:hover .slick-next {
  opacity: 1;
}
.sliderTwo:hover .slick-prev {
  opacity: 1;
}

.sliderTwo__item {
  width: 100%;
}
.sliderTwo__item img {
  width: 100%;
  height: 238px;
}
.sliderTwo__item .caption {
  color: #fff;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  height: 0px;
  display: none;
}

.slider-product {
  padding: 3rem 0rem;
}/*# sourceMappingURL=index.css.map */