.SliderOne__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-2.jpg);
  background-size: cover;
}
.SliderOne__Slider .container {
  margin: auto;
  padding: 170px 0px;
  text-align: center;
}

.SliderTwo__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/surfing-3.jpg);
  background-size: cover;
}
.SliderTwo__Slider .container {
  margin: auto;
  padding: 170px 0px;
}

.SliderThree__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-4.jpg);
  background-size: cover;
}
.SliderThree__Slider .container {
  margin: auto;
  padding: 170px 0px;
}

.Slider__Content {
  color: #fff;
  text-align: center;
}
.Slider__Content span {
  font-weight: 400;
  font-size: 5rem;
  text-overflow: 2px;
}
.Slider__Content p {
  font-size: 1.5rem;
}

.Slider__Button {
  border: 2px solid #fff;
  padding: 0px 20px;
  margin: 0px 10px;
}
.Slider__Button p {
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.Slider__Button:hover {
  background: #fff;
}
.Slider__Button:hover p {
  color: gray;
}

.btn-shop {
  justify-content: center;
  padding-top: 2rem;
}

.body__shipping .container {
  margin: auto;
  padding: 30px 0px;
}

.shipping__item--img {
  color: gray;
  border: 1px solid gray;
  border-radius: 50%;
}
.shipping__item--img i {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.shipping__item--text {
  margin-left: 0.5rem;
}
.shipping__item--text span {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.shipping__item:hover .shipping__item--img {
  background: #787878;
}
.shipping__item:hover .shipping__item--img i {
  color: #fff;
}

.body__browse .container {
  position: relative;
  margin: auto;
}
.body__browse .container h4 {
  z-index: 2;
  background: #1b1b1b;
  position: absolute;
  color: #fff;
  left: 44%;
  top: -17px;
  padding: 0px 20px;
  font-weight: 600;
}

.slider-browse {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
}
.slider-browse .browse__content {
  padding: 0rem 1rem;
}
.slider-browse .browse__content .browse__img {
  position: relative;
}
.slider-browse .browse__content .browse__img img {
  width: 100%;
}
.slider-browse .browse__content .browse__text {
  top: 40%;
  position: absolute;
  text-align: center;
  margin-left: 4.5rem;
}
.slider-browse .browse__content .browse__text h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px black;
}
.slider-browse .browse__content .browse__text p {
  opacity: 0;
  color: #fff;
  text-shadow: 1px 1px black;
}
.slider-browse .browse__content:hover h5 {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}
.slider-browse .browse__content:hover p {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.slider-browse button {
  height: 75%;
  width: 2rem;
  background: gray;
  border-radius: 2rem;
}

.body__latest .container {
  position: relative;
  margin: auto;
}
.body__latest .container h4 {
  z-index: 2;
  background: #1b1b1b;
  position: absolute;
  color: #fff;
  left: 44%;
  top: -17px;
  padding: 0px 20px;
  font-weight: 600;
}

.slider-latest {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
}
.slider-latest .latest__img {
  position: relative;
}
.slider-latest .latest__img img {
  width: 100%;
}
.slider-latest .latest__text {
  top: 40%;
  position: absolute;
}
.slider-latest .latest__text h6 {
  color: #fff;
}

.slick-prev {
  position: absolute;
  top: 47%;
  left: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  z-index: 10;
}

.slick-next {
  position: absolute;
  top: 47%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  z-index: 10;
}/*# sourceMappingURL=index.css.map */