.SliderOne__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-2.jpg);
  background-size: cover;
  .container {
    margin: auto;
    padding: 170px 0px;
    text-align: center;
  }
}
.SliderTwo__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/surfing-3.jpg);
  background-size: cover;
  .container {
    margin: auto;
    padding: 170px 0px;
  }
}
.SliderThree__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-4.jpg);
  background-size: cover;
  .container {
    margin: auto;
    padding: 170px 0px;
  }
}
.Slider__Content {
  color: #fff;
  text-align: center;
  span {
    font-weight: 400;
    font-size: 5rem;
    text-overflow: 2px;
  }
  p {
    font-size: 1.5rem;
  }
}
.Slider__Button {
  border: 2px solid #fff;
  padding: 0px 20px;
  margin: 0px 10px;
  p {
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }
  &:hover {
    background: #fff;
    p {
      color: gray;
    }
  }
}
.btn-shop {
  justify-content: center;
  padding-top: 2rem;
}
.body__shipping {
  .container {
    margin: auto;
    padding: 30px 0px;
  }
}
.shipping__item {
  &--img {
    color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    i {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
  &--text {
    margin-left: 0.5rem;
    span {
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
    }
  }
  &:hover &--img {
    background: #787878;
    i {
      color: #fff;
    }
  }
}
.body__browse {
  .container {
    position: relative;
    margin: auto;
    h4 {
      z-index: 2;
      background: #1b1b1b;
      position: absolute;
      color: #fff;
      left: 44%;
      top: -17px;
      padding: 0px 20px;
      font-weight: 600;
    }
  }
}
.slider-browse {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
  .browse__content {
    padding: 0rem 1rem;
    .browse__img {
      position: relative;
      img {
        width: 100%;
      }
    }
    .browse__text {
      top: 40%;
      position: absolute;
      text-align: center;
      margin-left: 4.5rem;
      h5 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 1px 1px black;
      }
      p {
        opacity: 0;
        color: #fff;
        text-shadow: 1px 1px black;
      }
    }
    &:hover {
      h5 {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
      }
      p {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  button {
    height: 75%;
    width: 2rem;
    background: gray;
    border-radius: 2rem;
  }
}

.body__latest {
  .container {
    position: relative;
    margin: auto;
    h4 {
      z-index: 2;
      background: #1b1b1b;
      position: absolute;
      color: #fff;
      left: 44%;
      top: -17px;
      padding: 0px 20px;
      font-weight: 600;
    }
  }
}
.slider-latest {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
  .latest__img {
    position: relative;
    img {
      width: 100%;
    }
  }
  .latest__text {
    top: 40%;
    position: absolute;
    h6 {
      color: #fff;
    }
  }
}
.slick-prev {
  position: absolute;
  top: 47%;
  left: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  z-index: 10;
}
.slick-next {
  position: absolute;
  top: 47%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  z-index: 10;
}
