@import "../scss/main.scss";
body {
  background: #1b1b1b !important;
}
.SliderOne__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-2.jpg);
  background-size: cover;
  .container {
    margin: auto;
    padding: 170px 0px;
    text-align: center;
  }
}
.SliderTwo__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/surfing-3.jpg);
  background-size: cover;
  .container {
    margin: auto;
    padding: 170px 0px;
  }
}
.SliderThree__Slider {
  background-color: gray;
  background-image: url(../images/img_body/slider_img/yoga-4.jpg);
  background-size: cover;
  .container {
    margin: auto;
    padding: 170px 0px;
  }
}
.Slider__Content {
  color: #fff;
  text-align: center;
  span {
    font-weight: 400;
    font-size: 5rem;
    text-overflow: 2px;
  }
  p {
    font-size: 1.5rem;
  }
}
.Slider__Button {
  border: 2px solid #fff;
  padding: 0px 20px;
  margin: 0px 10px;
  p {
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }
  &:hover {
    background: #fff;
    p {
      color: gray;
    }
  }
}
.btn-shop {
  justify-content: center;
  padding-top: 2rem;
}
.body__shipping {
  .container {
    margin: auto;
    padding: 30px 0px;
  }
}
.shipping__item {
  &--img {
    color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    i {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
  &--text {
    margin-left: 0.5rem;
    span {
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
    }
  }
  &:hover &--img {
    background: #787878;
    i {
      color: #fff;
    }
  }
}
// CSS BUTTON SLICK SLIDE
.slick-prev {
  @include slick-prev;
  background: transparent;
  opacity: 0;
  left: 0;
}
.slick-next {
  @include slick-next;
  background: transparent;
  opacity: 0;
  right: 0;
}
.body__featured {
  .container {
    position: relative;
    margin: auto;
    h4 {
      z-index: 2;
      background: #1b1b1b;
      position: absolute;
      color: #fff;
      left: 44%;
      top: -17px;
      padding: 0px 20px;
      font-weight: 600;
    }
  }
}
.slider__featured {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
  .product-item {
    position: relative;
    padding: 1rem;
    &__content {
      position: relative;
      .item__img {
        position: absolute;
        opacity: 1;
        top: 0;
        img {
          width: 100%;
        }
      }
      .item__img--hidden {
        opacity: 0;
        img {
          width: 100%;
        }
      }
    }
    &:hover .product-item__content {
      .item__img {
        opacity: 0;
        transition: all 0.5s ease-in;
      }
      .item__img--hidden {
        opacity: 1;
        overflow: hidden;
      }
    }
    &__modal {
      .modal-click {
        @include center-text;
        position: absolute;
        bottom: 19%;
        width: 90%;
        height: 2.1rem;
        background: #1e90ff;
        color: #fff;
        font-weight: 600;
        opacity: 0;
      }
    }
    &:hover .product-item__modal {
      .modal-click {
        opacity: 1;
        transition: all 0.5s ease-in-out;
        //   transform: translateY(0px);
      }
    }
    &__wishlist {
      opacity: 0;
      position: absolute;
      top: 4%;
      right: 5%;
      border-radius: 50%;
      border: 2px solid #fff;
      width: max-content;
      overflow: hidden;

      i {
        padding: 0.4rem;
        font-size: 1rem;
        color: #fff;
      }
      &:hover {
        border: unset;
        background: red;
      }
    }
    &:hover .product-item__wishlist {
      opacity: 1;
    }
    &__text {
      p {
        font-size: 1rem;
      }
    }
    &__text {
      color: #fff;
    }
    button {
      @include style-button;
    }
  }
  .slick-prev {
    @include slick-prev;
    top: 40%;
    width: max-content;
    padding: 0.3rem 0.7rem;
    background: #fff;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 45%;
    left: 4%;
    opacity: 0;
    transform: translateX(0.3rem);
    i {
      color: gray;
      font-size: 1.5rem;
    }
    &:hover {
      background: #1e90ff;
      i {
        color: #fff;
      }
    }
  }
  .slick-next {
    @include slick-next;
    top: 40%;
    transform: translateX(0.3rem);
    width: max-content;
    padding: 0.3rem 0.7rem;
    background: #fff;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 45%;
    right: 4%;
    opacity: 0;
    i {
      color: gray;
      font-size: 1.5rem;
    }
    &:hover {
      background: #1e90ff;
      i {
        color: #fff;
      }
    }
  }
  &:hover .slick-prev {
    opacity: 1;
    transform: translateX(-1rem);
    transition: all 0.7s ease-in-out;
  }
  &:hover .slick-next {
    opacity: 1;
    transform: translateX(1rem);
    transition: all 0.7s ease-in-out;
  }
}

.body__browse {
  .container {
    position: relative;
    margin: auto;
    h4 {
      z-index: 2;
      background: #1b1b1b;
      position: absolute;
      color: #fff;
      left: 44%;
      top: -17px;
      padding: 0px 20px;
      font-weight: 600;
    }
  }
}
.slider-browse {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
  .browse__content {
    padding: 0rem 1rem;
    position: relative;
    .browse__img {
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .browse__text {
      position: absolute;
      top: 40%;
      left: 32%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      text-align: center;
      h5 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
      }
      p {
        opacity: 0;
        color: #fff;
      }
    }
    &:hover {
      h5 {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
      }
      p {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &:hover .slick-next {
    opacity: 1;
  }
  &:hover .slick-prev {
    opacity: 1;
  }
  button {
    @include style-button;
    height: 18rem;
    width: 0.5rem;
    margin-left: unset;
    background: rgba(0, 0, 0, 0.123);
  }
}

.body__latest {
  .container {
    position: relative;
    margin: auto;
    h4 {
      z-index: 2;
      background: #1b1b1b;
      position: absolute;
      color: #fff;
      left: 44%;
      top: -17px;
      padding: 0px 20px;
      font-weight: 600;
    }
  }
  button {
    @include style-button;
    height: 18rem;
    width: 0.5rem;
    margin-left: unset;
    background: rgba(0, 0, 0, 0.123);
  }
}
.slider-latest {
  padding: 3rem 0rem;
  border-top: 2px solid gray;
  display: flex;
  .latest__content {
    position: relative;
    padding: 1rem;
    .latest__img {
      filter: brightness(80%);
      img {
        width: 100%;
        height: 300px;
      }
    }
    .latest__text {
      top: 30%;
      left: 20%;
      position: absolute;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      h5 {
        color: #fff;
      }
      p {
        display: none;
        color: #fff;
        width: max-content;
      }
    }
    .later__sticky {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 10%;
      background: rgb(62, 62, 238);
      width: max-content;
      b {
        padding: 0px 10px;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  &:hover .slick-next {
    opacity: 1;
  }
  &:hover .slick-prev {
    opacity: 1;
  }
}

.body__signup {
  .signup-content {
    filter: brightness(25%);
    background-image: url(../images/img_body/yoga-4-1000x464.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16rem 0rem;
    .container {
      width: 50%;
      margin: auto;
      text-align: center;
      .caption {
        h2 {
          margin: 2rem 0rem;
          color: #fff;
          font-weight: 900;
        }
        p {
          font-size: 1.3rem;
          color: #fff;
          font-weight: 500;
        }
      }
      .form {
        margin-top: 3rem;
        @include center-text;
        input {
          width: 60%;
          border: unset;
          height: 2.5rem;
          border-radius: 2rem;
          ::-moz-placeholder {
            color: red;
          }
        }
        .btn-email {
          margin-left: 1rem;
          width: 140px;
          height: 45px;
          background: rgb(12, 169, 231);
          color: #fff;
          font-weight: 600;
          font-size: 1rem;
          border-radius: 1rem;
          @include center-text;
        }
      }
    }
  }
}
.body__sliderTwo {
  .sliderTwo {
    button {
      @include style-button;
      background: transparent;
      opacity: 0;
      height: 14%;
      top: 40%;
      i {
        font-size: 2rem;
        color: #f5f5f5;
      }
    }
    .slick-next {
      transform: translateX(-1rem);
    }
    .slick-prev {
      transform: translateX(0.5rem);
    }
    &:hover .slick-next {
      transform: translateX(0rem);
      opacity: 1;
      transition: all 1s ease-in-out;
    }
    &:hover .slick-prev {
      opacity: 1;
      transform: translateX(-1rem);
      transition: all 1s ease-in-out;
    }
  }
  .sliderTwo__item {
    width: 100%;
    img {
      width: 100%;
      height: 238px;
    }
    .caption {
      color: #fff;
      padding: 0.2rem 0.4rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, 0.4);
      height: 0px;
      display: none;
    }
    &:hover .caption {
      height: 100%;
      transform: translateY(-100%);
      transition: all 0.5s ease;
      overflow-y: auto;
      overflow: hidden;
    }
  }
}
.featured-modal {
  .modal {
    @include modal;
    @include center-text;
    display: none;
    z-index: 100;
  }
  .modal-content {
    @include modal-content;
    padding: 1rem;
    width: 65%;
    .close {
      @include btn-close;
    }
    .modal-body {
      padding: unset;
      .modal-body__slider {
        .modal-body__img {
          img {
            width: 100%;
          }
        }
        button {
          @include style-button;
        }
        .slick-next {
          @include slick-next;
        }
        .slick-prev {
          @include slick-prev;
        }
      }
      .slick-dots {
        @include style-dost;
        background: transparent;
        button {
          padding: unset;
        }
        li {
          margin: 0px 5px;
        }
        .slick-active {
          button {
            background-color: black;
          }
        }
      }
      .modal-body__content {
        position: relative;
        h1 {
          font-weight: 600;
          color: gray;
        }
        .btn-0 {
          padding-left: 0.5rem;
          width: 10%;
          margin: 0.5rem 0rem;
          left: 0%;
        }
        b {
          margin: 1rem 0rem;
          color: black;
          font-weight: 500;
          font-size: 1rem;
        }
        p {
          padding: 0.5rem 0rem;
          color: gray;
        }
        .css-flex {
          padding: 2rem 0rem;
          justify-content: left;
        }
        .number {
          width: 100px;
          height: 46px;
          border: 1px solid gray;
          border-radius: 1rem;
          @include center-text;
          p {
            margin: 0px 0.5rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: black;
          }
        }
        .add {
          @include style-button;
          background: #1e90ff;
          color: #fff;
          font-weight: 600;
          @include center-text;
          &:hover {
            background: #004183;
          }
        }
      }
    }
  }
}
